.menu {
    background-color: #283593;
    padding: 1rem;
    margin: 0;
}

.link-menu {
    background-color: #283593;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.link-menu:hover {
    background-color: #3949AB;
}